<!doctype html>
<html lang="en">
  <head>
 {{>headerlink}}
<title>About</title>
</head>
<body>
  {{>nav}}
<!-- main header -->

<div class="container-fluid main_header" >
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
<div class="row">
    <!-- left div  -->
    <div class="col-md-6 col-12 main_header_right align-items-center">
        <figure>
            <img src="./images/about.jpg" alt="about ME" class="img-fluid">
        </figure>
        
        </div>
        <!-- right div  -->
<div class="col-md-6 col-12 main_header_left">
<p>Welcome To My page</p>
<h1>Get The laest <span>Mern Stack</span> Info of your City </h1>
<a href="https://tahaportfilo12.web.app/" target="_taha"><button>About Me </button></a>
</div>

</div>


</div>
 </div>
</div>

{{>footer}}

    
 {{>bottomlink}}
 
  </body>
</html>