<!doctype html>
<html lang="en">
  <head>
   {{>headerlink}}
<title>Home</title>
</head>
<body>
{{>nav}}
<!-- main header -->

<div class="container-fluid main_header" >
    <div class="row">
        <div class="ml-auto col-md-10 col-12">
  <div class="main_content">
<form class="temp_form">
    <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
    <input type="submit" value="search" id="submitBtn">
</form>
  </div>

  <div class="tempInformaton">
      {{!-- top_layer --}}
     <div class="top_layer">
         <p id="day">Tuesday</p>
         <p id="today_data">9 Aug</p>
     </div> 
     {{!-- main_layer --}}
     <div class="main_layer">
      <p id="city_name">Get Output </p>
      {{!-- middle_layer --}}
      <div class="middle_layer data_hide">
           <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
           <p id="temp_status"><i class="fas fa-cloud"></i></p>
      </div>
     </div>
  </div>


</div>
 </div>
</div>

{{>footer}}

  {{>bottomlink}}

  <script>
         const getCurrentDay = () => {
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wenesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        
        let currentTime = new Date();
        days = weekday[currentTime.getDay()];

         let day = document.getElementById('day')
         day.innerText=days;
      };
getCurrentDay();

      const getCurrentTime = () => {
        var months = [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "June",
          "July",
          "Aug",
          "Sept",
          "Oct",
          "Nov",
          "Dec",
        ];
        
      

         let now = new Date();
         let month = months[now.getMonth() + 1];
         let date = now.getDate();
         
         let hours = now.getHours();
         let mins = now.getMinutes(); 
      

     let periods = "AM";
         if(hours > 11){
            periods = "PM";
            if(hours > 12) hours -= 12; 
         }
         if(mins < 10){
             mins = "0" + mins;
         }

         let today_date = document.getElementById('today_date')
         today_date.innerText=`${date} ${month}`};


  
getCurrentTime();

    </script>
  
  </body>
</html>